body {
    background-color: black;
    color: rgb(221, 72, 164);
    margin: 0px;
    font-family: sans-serif;
}

header {
    border-bottom: solid 3px rgb(227, 227, 254);
    color: rgb(183, 0, 255);
    padding: 20px;
    font-size: 32px;

}