body {
    background-color: black;
    color: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(227, 227, 254);
    color: #EBAB17;
    padding: 20px;
    font-size: 32px;
    background-color: rgb(193, 68, 10);
}

section {
    background: rgb(193, 68, 10);
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: center;

}
.chamada-texto{
    margin-right: 5%;
}